@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.home-heading,
.name,
.home-description {
    font-family: Caveat, cursive;
}

.my-image {
    border-radius: 20%;
    width: 200px;
    height: 250px;
    margin-bottom: 30px;
}

.portfolio-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.home-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 100vh;
    width: 100vw;
    background-color: #191a1d;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/08/14/58/icon-1379228_640.png");
    background-size: cover;
}

.home-heading {
    font-size: 36px;
    font-weight: bold;
}

.name {
    color: #576d2c;
    font-weight: bold;
}

.home-description {
    color: red;
    color: #001F3F;
    font-weight: bold;
}

@media screen and (min-width:767px) {
    .home-heading {
        font-size: 100px;
    }

    .name {
        font-size: 100px;
    }

    .home-description {
        font-size: 64px;
    }

    .my-image {
        margin-right: 20px;
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width:766px) {
    .home-bg-container {
        flex-direction: column;
    }

    .home-heading {
        font-size: 65px;
    }

    .name {
        color: #4B6CC1;
        font-size: 65px;
    }

    .home-description {
        font-size: 36px;
    }
}

.about-bg-container {
    background-color: #023D54;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.about-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.about-me-heading {
    font-size: 36px;
    color: #ffffff;
    padding: 10px;
}

.about-me-description {
    font-size: 20px;
}

@media screen and (max-width:767px) {
    .about-bg-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.skills-container {
    background-color: #001F3F;
    width: 100vw;
    min-height: 50vh;
    color: #F5F5F5;
    padding: 30px;
}

.skills-list-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
}

.skill-image {
    width: 80px;
    height: 80px;
}

.skill-name {
    font-size: 20px;
}

.skills-list-item {
    width: 108px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #E0FFFF;
}

.skills-list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(191, 191, 191, 0.5),
        0 0 25px rgba(255, 255, 255, 0.5);
}

.resume-button {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    color: #ffffff;
}

a {
    color: #fff;
}

.services-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 100vw;
    min-height: 50vh;
    background-color: #000;
    color: #ffffff;
}

.services-card-container {
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    cursor: pointer;
}

.service-item:hover {
    background-color: #cc1c4b;
    color: white;
    box-shadow: 0 4px 15px rgba(191, 191, 191, 0.5),
        0 0 25px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.service-heading {
    font-size: 30px;
    font-weight: bold;
}

.service-description {
    font-size: 12px;
}

@media screen and (max-width:992px) {
    .services-card-container {
        flex-direction: column;
    }

    .service-item {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
}

.projects-bg-container {
    width: 100vw;
    min-height: 100vh;
    padding: 30px;
    background-color: #36013f;
    color: #ffffff;
}

.projects-section-heading {
    font-size: 60px;
}

.projects-list-container {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-list-item {
    list-style-type: none;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    color: #36013f;
    border: 1px solid #bfbfbf;
    margin: 10px;
    width: 30%;
    cursor: pointer;

}

.project-list-item:hover {
    box-shadow: 0 4px 15px rgba(191, 191, 191, 0.5),
        0 0 25px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.project-heading {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    padding-top: 15px;
}

.project-description {
    font-size: 12px;
}

.project-link {
    color: #36013f;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .project-list-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .projects-section-heading {
        font-size: 40px;
    }
}
.project-image {
    width: 100%;
    height: 200px;
}

.footer {
    background-color: #001F3F;
    color: #FFFFFF;
    padding: 30px 20px;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px;
}

.footer h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-description {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.contact-button {
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.contact-button:hover {
    box-shadow: 0px 4px 15px #ffffff;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
}

.footer-name {
    font-weight: bold;
}

.resume-download-link{
  color: #ffffff;
}

.hr-line{
  background-color: #bfbfbf;
  width: 80%;
}